body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00b7ff; }

.user-area {
  position: absolute;
  left: 880px; }

.user-list {
  padding: 10px 0; }

.user {
  margin: 10px 0; }
  .user .score {
    margin-right: 10px; }

.game-board {
  display: block;
  height: 600px;
  width: 800px;
  border: 1px dashed black;
  position: relative; }

#mole {
  display: none;
  height: 100px;
  width: 100px;
  position: absolute; }
